.trip {
  position: relative;
  color: black;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.trip__image {
  display: block;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trip__info {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 10px;
}

.trip__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.trip__price {
  color: white;
  background-color: #f03000;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.trip--main {
  min-height: 240px;
}

.trip--main .trip__title {
  font-size: 28px;
}

.trip--main .trip__image {
  height: 240px;
}

@media screen and (min-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .trip--main {
    grid-column: span 2;
  }
  .trip,
  .trip__image {
    height: 180px;
  }
  .trip--main {
    height: 370px;
  }
  .trip--main .trip__image {
    height: 370px;
  }
}
@media screen and (min-width: 960px) {
  .grid {
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 180px 180px;
  }
  .trip--main {
    grid-column: 1/2;
    grid-row: span 2;
  }
  .trip__image {
    height: 100%;
  }
  .header {
    margin-bottom: 40px;
  }
}
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
}

.header__logo {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu__item {
  color: #f03000;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}
.menu__item:hover {
  color: white;
  background-color: #f03000;
  padding: 20px;
}

.USP {
  background-color: #f0f0f0;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.USP__headline {
  color: #f03000;
  font-size: 18px;
}

.USP__icon {
  text-align: right;
  margin-left: 30px;
  width: 30px;
  display: block;
}

.USP__icon img {
  max-width: 100%;
}

.section__div {
  margin: 40px 0px;
}

.section__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.blog__item {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 20px;
}

.blog__date {
  color: #888888;
  margin: 0;
}

.blog__text {
  margin: 0;
}

.blog__header {
  color: #f03000;
}

.footer {
  background-color: #444444;
  color: white;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .USP {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 0px;
  }
  .USP__icon {
    margin-left: 0px;
    height: 30px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    margin: 10px;
  }
  .menu__item {
    padding: 5px;
  }
}
@media screen and (min-width: 960px) {
  .section__div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .blog {
    display: flex;
    gap: 10px;
  }
  .grid--flip {
    grid-auto-flow: dense;
    grid-template-columns: 0.3fr 0.7fr;
  }
  .trip--flip {
    grid-column: 2/3;
  }
}/*# sourceMappingURL=styles.css.map */