@use "colors";

.trip {
  position: relative;
  color: black;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}
.trip__image {
  display: block;
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.trip__info {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 10px;
}
.trip__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.trip__price {
  color: white;
  background-color: colors.$highlight;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.flex {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
}

.trip--main {
  min-height: 240px;
}

.trip--main .trip__title {
  font-size: 28px;
}

.trip--main .trip__image {
  height: 240px;
}
@media screen and (min-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .trip--main {
    grid-column: span 2;
  }
  .trip,
  .trip__image {
    height: 180px;
  }
  .trip--main {
    height: 370px;
  }
  .trip--main .trip__image {
    height: 370px;
  }
}

@media screen and (min-width: 960px) {
  .grid {
    grid-template-rows: 180px 180px;
  }
  .trip--main {
    grid-row: span 2;
    grid-column: 1/2;
  }

  .trip__image {
    height: 100%;
  }
  .header {
    margin-bottom: 40px;
  }
}
