@use "trip";

@use "colors";

html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font: colors.$font;
  font-size: 16px;
  padding: 20px;
}

.header__logo {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu__item {
  color: colors.$highlight;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;

  &:hover {
    color: white;
    background-color: colors.$highlight;
    padding: 20px;
  }
}

.USP {
  background-color: colors.$background;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.USP__headline {
  color: colors.$highlight;
  font-size: 18px;
}

.USP__icon {
  text-align: right;
  margin-left: 30px;
  width: 30px;
  display: block;
}

.USP__icon img {
  max-width: 100%;
}

.section__div {
  margin: 40px 0px;
}

.section__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.blog__item {
  background-color: colors.$background;
  margin-bottom: 20px;
  padding: 20px;
}
.blog__date {
  color: #888888;
  margin: 0;
}
.blog__text {
  margin: 0;
}
.blog__header {
  color: colors.$highlight;
}

.footer {
  background-color: #444444;
  color: white;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .USP {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 0px;
  }
  .USP__icon {
    margin-left: 0px;
    height: 30px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    margin: 10px;
  }

  .menu__item {
    padding: 5px;
  }
}
@media screen and (min-width: 960px) {
  .section__div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .blog {
    display: flex;
    gap: 10px;
  }
  .grid--flip {
    grid-auto-flow: dense;
  }
  .trip--flip {
    grid-column: 2/3;
  }
}
