@use "trip";

@use "colors";

html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font: colors.$font;
  font-size: 16px;
  padding: 20px;
}

.header__logo {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu__item {
  color: colors.$highlight;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;

  &:hover {
    color: white;
    background-color: colors.$highlight;
    padding: 20px;
  }
}

.USP {
  background-color: colors.$background;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.USP__headline {
  color: colors.$highlight;
  font-size: 18px;
}

.USP__icon {
  text-align: right;
  margin-left: 30px;
  width: 50px;
}

.USP__icon img {
  max-width: 100%;
}

.section__div {
  margin: 40px 0px;
}

.section__title {
  font-size: 24px;
  font-weight: bold;
}

.blog__item {
  background-color: colors.$background;
  margin-bottom: 20px;
  padding: 20px;
}
.blog__date {
  color: #888888;
}
.blog__header {
  color: colors.$highlight;
}
